In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
import pandas as pd
import numpy as np

In [25]:
ecomds = pd.read_csv(r'/content/drive/MyDrive/Ecommerce Purchases.csv')

In [26]:
ecomds.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [27]:
ecomds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [28]:
ecomds['Purchase Price'].mean()

50.347302

In [29]:
ecomds['Purchase Price'].max()

99.99

In [30]:
ecomds['Purchase Price'].min()

0.0

In [31]:
ecomds[ecomds['Language']=='en']['Language'].count()

1098

In [32]:
ecomds[ecomds['Job']=='Lawyer']['Job'].count()

30

In [33]:
ecomds.groupby('AM or PM')['Purchase Price'].count()

AM or PM
AM    4932
PM    5068
Name: Purchase Price, dtype: int64

In [34]:
ecomds['Job'].value_counts().head(5)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

In [35]:
ecomds[ecomds['Lot'] =='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [36]:
ecomds[ecomds['Credit Card'] == 869967499275071]['Email']

14    aburns@yahoo.com
Name: Email, dtype: object

In [37]:
ecomds[(ecomds['CC Provider']=='American Express')&(ecomds['Purchase Price']>95)]['CC Provider'].count()

39

In [38]:
ecomds['CC Exp Date'][0].split('/')[1]

'20'

In [39]:
ecomds[ecomds['CC Exp Date'].apply(lambda exp: exp[3:]=='25')]['CC Exp Date'].count()

1033

In [40]:
ecomds['Email'].apply(lambda domain: domain.split('@')[1]).value_counts().head(5)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64